

body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 260px;
  padding: 8px;
  border-bottom: 2px solid;
  outline: none;
  border-radius: 20px 20px 20px 20px;
}

 button{
  padding: 12px;
  background-color: rgb(2, 194, 153);
  color: black;
  cursor: pointer;
  border-radius: 40px 40px 40px 40px;
}

#empty{
  color: rgb(205, 107, 2);
  text-shadow: 0px 1.2px 1.2px black;
  
}

.task{
  display: flex;
  align-items: center;
  width: 320px;
  justify-content: space-between;
  background-color: rgba(80, 80, 80, 0.26);
  color: black;
  height: 32px;
  padding: 2px 4px 2px 4px;
  margin-top: 2px;
  border-radius: 40px 40px 40px 40px;
}

.checkbox{
  display: flex;
  align-items: center;
}

.checkbox .icon{
  margin-right: 5px;
  font-size: 15px;
}

.task div span{
  margin: 0px 5px 0px 4px;
}

.task div .icon{
  cursor: pointer;
}

.icon2{
  color: rgb(173, 244, 172);
}

.icon{
  color: rgb(225, 3, 3);
}